[package]
name = "wasm_safe_thread"
version = "0.1.0"
edition = "2024"

[dependencies]
wasm-bindgen = "0.2.106"
js-sys = "0.3.83"
wasm_safe_mutex = "0.1.2"

[target.'cfg(target_arch="wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.56"
console_error_panic_hook = "0.1.7"

[patch.crates-io]
# for iter_custom_future testing, logs
wasm-bindgen = {path = "../wasm-bindgen-drew"}
wasm-bindgen-test = {path = "../wasm-bindgen-drew/crates/test"}
wasm-bindgen-futures = {path = "../wasm-bindgen-drew/crates/futures"}
js-sys = {path = "../wasm-bindgen-drew/crates/js-sys"}
web-sys = {path = "../wasm-bindgen-drew/crates/web-sys"}