[unstable]
# Tell *Cargo* to rebuild these crates for non-host targets (needs nightly)
build-std = ["std", "panic_abort"]

[target.'cfg(target_arch="wasm32")']
runner = "wasm-bindgen-test-runner"
rustflags = [
    "-C", "target-feature=+atomics",
    # see https://github.com/rustwasm/wasm-bindgen/issues/4727
    # and https://github.com/rust-lang/rust/pull/147225
    "-Clink-arg=--shared-memory",
    # 4GB
    "-Clink-arg=--max-memory=4294967296",
    "-Clink-arg=--import-memory",
    "-Clink-arg=--export=__wasm_init_tls",
    "-Clink-arg=--export=__tls_size",
    "-Clink-arg=--export=__tls_align",
    "-Clink-arg=--export=__tls_base",
    # Workaround for wasm-bindgen duplicate function declarations with v0 mangling
    # see https://github.com/rustwasm/wasm-bindgen/issues/4820
    "-Csymbol-mangling-version=legacy",
    "-Zunstable-options"
]